{% extends 'personal_blog/index.html' %}
{% block title %}Socials{% endblock %}
{% block main %}
<div class="text-center border-b-4 border-orange-300 pb-2">
    <h2 class="text-gray-600 text-xl">Socials</h2>
</div>
    <div class="text-white bg-orange-400 rounded-md p-3 mt-4 text-center">
        <p>You can find me on social media:</p>
        <div class="flex content-center justify-center mt-2">
            <div class="w-1/2">
                <ul class="flex flex-col justify-center bg-orange-500 rounded-md p-2">
                    <li><a class="py-2 rounded-md hover:bg-orange-600 block" href="https://www.linkedin.com/in/david-brablc-764749225/" target="_blank">LinkedIn</a></li=>
                    <li><a class="py-2 rounded-md hover:bg-orange-600 block" href="https://www.facebook.com/david.brablc.7" target="_blank">Facebook</a></li>
                    <li><a class="py-2 rounded-md hover:bg-orange-600 block" href="https://www.instagram.com/davidbrablc/" target="_blank">Instagram</a></li>
                    <li><a class="py-2 rounded-md hover:bg-orange-600 block" href="https://github.com/Darebakdavca" target="_blank">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}